<footer id="htc__footer">
    <!-- Start Footer Top Area -->
    <div class="footer__top__area bg__cat--1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer__top__wrap clearfix">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="footer__top">
                                    <div class="ft__logo">
                                        <a href="index.html">
                                            <img src="images/logo/eme.png" alt="logo">
                                        </a>
                                    </div>
                                    <div class="ft__address__wrap">
                                        <div class="ft__address">
                                            <div class="ft__title">
                                                <h4><i class="icon-location-pin icons"></i>Our Adress</h4>
                                            </div>
                                            <div class="ft__details">
                                                <p>49th Street, Los Angeles, CA, United States.</p>
                                            </div>
                                        </div>
                                        <div class="ft__address">
                                            <div class="ft__title">
                                                <h4><i class="icon-call-out icons"></i>Our Phone</h4>
                                            </div>
                                            <div class="ft__details">
                                                <p>Call Us : (800) - 123 5678 </p>
                                            </div>
                                        </div>
                                        <div class="ft__address">
                                            <div class="ft__title">
                                                <h4><i class="icon-envelope icons"></i>email for us</h4>
                                            </div>
                                            <div class="ft__details">
                                                <p>49th Street, Los Angeles, CA, United States.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-6 col-xs-12 xmt-40">
                                <div class="google__map">
                                    <div class="map-contacts">
                                        <div id="googleMap"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 xmt-40 smt-40">
                                <div class="footer__top">
                                    <h2 class="ft__top__title">Email for us</h2>
                                    <div class="footer__input__form">
                                        <div class="ft__input__box name">
                                            <input type="text" placeholder="- Your name">
                                            <input type="email" placeholder="- Your email">
                                        </div>
                                        <div class="ft__input__box">
                                            <textarea name="message" placeholder="- Your text"></textarea>
                                        </div>
                                        <div class="ft__btn">
                                            <a href="#"><i class="zmdi zmdi-long-arrow-right"></i>Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Top Area -->
    <!-- Start Footer Widget -->
    <div class="footer__container bg__cat--1">
        <div class="container">
            <div class="row">
                <!-- Start Single Footer Widget -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer">
                        <h2 class="title__line--2">company info</h2>
                        <div class="ft__details">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim adm.</p>
                            <div class="footer__btn">
                                <a href="#">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Footer Widget -->
                <!-- Start Single Footer Widget -->
                <div class="col-md-2 col-sm-6 col-xs-12 xmt-40">
                    <div class="footer">
                        <h2 class="title__line--2">information</h2>
                        <div class="ft__inner">
                            <ul class="ft__list">
                                <li><a href="about.html">About us</a></li>
                                <li><a href="#">Delivery Information</a></li>
                                <li><a href="#">Privacy & Policy</a></li>
                                <li><a href="#">Terms  & Condition</a></li>
                                <li><a href="#">Manufactures</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Footer Widget -->
                <!-- Start Single Footer Widget -->
                <div class="col-md-2 col-sm-6 col-xs-12 xmt-40 smt-40">
                    <div class="footer">
                        <h2 class="title__line--2">my account</h2>
                        <div class="ft__inner">
                            <ul class="ft__list">
                                <li><a href="#">My Account</a></li>
                                <li><a href="cart.html">My Cart</a></li>
                                <li><a href="#">Login</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Footer Widget -->
                <!-- Start Single Footer Widget -->
                <div class="col-md-2 col-sm-6 col-xs-12 xmt-40 smt-40">
                    <div class="footer">
                        <h2 class="title__line--2">Our service</h2>
                        <div class="ft__inner">
                            <ul class="ft__list">
                                <li><a href="#">My Account</a></li>
                                <li><a href="cart.html">My Cart</a></li>
                                <li><a href="#">Login</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Footer Widget -->
                <!-- Start Single Footer Widget -->
                <div class="col-md-3 col-sm-6 col-xs-12 xmt-40 smt-40">
                    <div class="footer">
                        <h2 class="title__line--2">Our country</h2>
                        <div class="ft__inner">
                            <ul class="lan__select">
                                <li><a href="#">United State</a>
                                    <ul class="drop__ountry">
                                        <li><a href="#">United State</a>
                                        <li><a href="#">United State</a>
                                        <li><a href="#">United State</a>
                                        <li><a href="#">United State</a>
                                    </ul>
                                </li>
                            </ul>
                            <div class="ft__social__link">
                                <span>follow us</span>
                                <ul class="social__link">
                                    <li><a href="https://twitter.com/devitemsllc" target="_blank"><i class="icon-social-twitter icons"></i></a></li>

                                    <li><a href="https://www.instagram.com/devitems/" target="_blank"><i class="icon-social-instagram icons"></i></a></li>

                                    <li><a href="https://www.facebook.com/devitems/?ref=bookmarks" target="_blank"><i class="icon-social-facebook icons"></i></a></li>

                                    <li><a href="https://plus.google.com/" target="_blank"><i class="icon-social-google icons"></i></a></li>

                                    <li><a href="#" target="_blank"><i class="icon-social-linkedin icons"></i></a></li>

                                    <li><a href="#" target="_blank"><i class="icon-social-pinterest icons"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Footer Widget -->
            </div>
        </div>
    </div>
    <!-- End Footer Widget -->
    <!-- Start Copyright Area -->
    <div class="htc__copyright bg__white">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="copyright__inner">
                        <p>Copyright© <a href="https://devitems.com/" target="blank">DevItems</a> 2017. All right reserved.</p>
                        <a href="#"><img src="images/others/shape/paypol.png" alt="payment images"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Copyright Area -->
</footer>